In [1]:
A= 1
print(A)

1

In [2]:
firstName = "meghana"

first_name="meghana"

In [2]:
l1=[11,22,2,22,221,223,8]
l1.insert(1,99)
print(l1)

[11, 99, 22, 2, 22, 221, 223, 8]

In [6]:
l1=[11,22,2,22,221,223,8]
l1.insert(1,"hh")
print(l1)

[11, 'hh', 22, 2, 22, 221, 223, 8]

In [7]:
l1=[11,22,2,22,221,223,8]
l1.insert(2,'%$##@@')
print(l1)

[11, 22, '%$##@@', 2, 22, 221, 223, 8]

In [12]:
l1=[11,22,2,22,221,223,8]
l1.remove(22)
print(l1)

[11, 2, 22, 221, 223, 8]

In [13]:
l1=[11,22,2,22,221,223,8]
l1.pop()

8

In [14]:
l1=[11,22,2,22,221,223,8]
l1.pop()
print(l1)

[11, 22, 2, 22, 221, 223]

In [17]:
l1=[11,22,2,22,221,223,8]
del l1
print(l1)

NameError: name 'l1' is not defined

In [19]:
l1=[11,22,2,22,221,223,8]
del l1[4]
print(l1)

[11, 22, 2, 22, 223, 8]

In [20]:
l1=[11,22,2,22,221,223,8]
l1.clear()
print(l1)

[]

In [23]:
l1=[11,22,2,22,221,223,8]
l2=l1.copy()
print(l1,l2)

[11, 22, 2, 22, 221, 223, 8] [11, 22, 2, 22, 221, 223, 8]

In [24]:
l1=[11,22,2,22,221,223,8]
l2=l1.copy()
l3=l1+l2
print(l3)

[11, 22, 2, 22, 221, 223, 8, 11, 22, 2, 22, 221, 223, 8]

In [26]:
l1=[11,22,2,22,221,223,8]
l2=[11,22,2,22,221,223,8]
l3=set(l1)
l4=tuple(l2)
print(l3)
print(l4)

{2, 8, 11, 22, 221, 223}
(11, 22, 2, 22, 221, 223, 8)

In [30]:
l1=[11,22,2,22,221,223,8]
l2=[11,22,2,22,221,223,8]
l3=set(l1)
l4=tuple(l2)
l5=list(l1)
print("list",l5)
print("tuple",l4)
print("set",l3)

list [11, 22, 2, 22, 221, 223, 8]
tuple (11, 22, 2, 22, 221, 223, 8)
set {2, 8, 11, 22, 221, 223}

In [32]:
l1={'w','wk','hg','jk','hhh'}
l1.add('tt')
print(l1)

{'wk', 'tt', 'hhh', 'hg', 'jk', 'w'}

In [35]:
l1={'w','wk','hg','jk','hhh'}
l1.pop()
print(l1)

{'hhh', 'hg', 'jk', 'w'}

In [37]:
l1=('d','22','e','hj')
l1.index('22')

1

In [39]:
l1=('d','22','22','e','22','hj')
l1.count('22')

3

In [6]:
k={i for i in range(0,10,2)}
print (k)

{0, 2, 4, 6, 8}

In [7]:
i for i in range(0,10,2)

SyntaxError: invalid syntax (<ipython-input-7-14ba72d95ff8>, line 1)

In [9]:
a=['a','y','o','g','i']
b=[10,34,67,89,98]
a1={a[i]:b[i] for i in range(len(a))}
print(a1)

{'a': 10, 'y': 34, 'o': 67, 'g': 89, 'i': 98}

In [11]:
a=['a','y','o','g','i']
b=[10,34,67,89,98]
a3=dict(zip(a,b))
print(a3)

{'a': 10, 'y': 34, 'o': 67, 'g': 89, 'i': 98}

In [14]:
a=['a','y','o','g','i','p']
b=[10,34,67,89,98]
from itertools import zip_longest
v=zip_longest(a,b,fillvalue='blank')
for i in v:
    print(i)

('a', 10)
('y', 34)
('o', 67)
('g', 89)
('i', 98)
('p', 'blank')

In [15]:
def missing( num ):
    #count from first number 
   # complete_list = set( range(num[0], num[-1]))
    #Count from 0
    complete_list = set ( range( 0, num[-1]))
    return complete_list - set( num )


print( missing([1,2,5,6]) )
print( missing( [1,2,4,4]) )
print( missing( [3,4,5]))

{0, 3, 4}
{0, 3}
{0, 1, 2}

In [23]:
def missing( num ):
    #count from first number 
   # complete_list = set( range(num[0], num[-1]))
    #Count from 0
    complete_list = set ( range( 0, num[-1]))
    return complete_list - set( num )


print( missing([1,2,5,7]) )

{0, 3, 4, 6}

In [19]:
num=[0,2,4,3]
comp=0
comp=set(range(0,num[-1]))
print(comp)

{0, 1, 2}

In [2]:
#Converting charcter  to list numbers
def convert_char_list(num1):
    for j in range(0,len(num1)):
        num1[j]=int(num1[j])
    return num1

#finding largest number in list
def lar(num):
    num_list=convert_char_list(num)
    l=len(num_list)
    large=num_list[0]
    for i in range(0,l):
             if num_list[i]>large:
                large=num_list[i]
             else:
                continue
    return large,num_list

#finding missing numbers
num1=input("Enter number: ")
numlar=num1.split()
largest,no=lar(numlar)
print("Missing Numbers are",end=' ')
for i in range (0,largest):
    if i not in no:
        print(i,end=' ')

Enter number: 1 5 7 3 9
Missing Numbers are 0 2 4 6 8

In [ ]:
# num =['12','23']
for i in range(0,len(num)):
        num[i]=int(num[i])

        
print(num)

In [58]:
test_list = ['1', '4', '3', '6', '7'] 
for i in range(0, len(test_list)): 
    test_list[i] = int(test_list[i]) 
      
  
# Printing modified list  
print ("Modified list is : " + str(test_list))

Modified list is : [1, 4, 3, 6, 7]

In [67]:
def convert_char_list(num):
    for j in range(0,len(num)):
        num[j]=int(num[j])
    return num


print(convert_char_list(['1', '4', '3', '6', '7']))

[1, 4, 3, 6, 7]

In [ ]:
a=1
print(a)

In [3]:
a=[1,2,2,4]
b=set(a)
print(b)

{1, 2, 4}

In [4]:
a=['1', '4', '3', '6', '7']
print(type(a))

<class 'list'>

In [107]:
#Finding duplicates strings in list
a=['megha1','rone','rone','6a','6a','7a','7a','megha1','a']
b=(a)
num=set()
dup=set()
print("Numbers",a)
for i in b:
    if i not in num:
        num.add(i)
    else:
        dup.add(i)
print("Number",num)
print("Duplicates",dup)

Numbers ['megha1', 'rone', 'rone', '6a', '6a', '7a', '7a', 'megha1', 'a']
Number {'rone', 'megha1', 'a', '6a', '7a'}
Duplicates {'rone', '6a', 'megha1', '7a'}