In [2]:
txt = "The rain in Spain stays mainly in the plain"
x = "ainv" in txt
print(x)

False

In [7]:
txt = "The rain in Spain stays mainly in the plain"
x = "The rain" in txt
print(x)

True

In [8]:
txt = "The rain in Spain stays mainly in the plain"
x = "The rain" not in txt
print(x)

False

In [9]:
txt = "We are the so-called \"Vikings\" from the north."
txt

'We are the so-called "Vikings" from the north.'

In [10]:
a="Megha"
b=a.casefold()
b

'megha'

In [12]:
a="Megha"
b=a.center(7)
b

' Megha '

In [13]:
a="hi hi ji"
a.count("hi")

2

In [15]:
a="megha"
c=a.encode()
c

b'megha'

In [18]:
s="n\tm\tnn\t"
s.expandtabs(2)

'n m nn  '

In [19]:
s="n\tm\tnn\t"
s.expandtabs(3)

'n  m  nn '

In [21]:
a="meghg"
a.find("g")

2

In [26]:

age=45
a="nmsy {}"
c=a.format(age)
c

'nmsy 45'

In [29]:
f="yknk"
f.index("k")

1

In [34]:
f="yknk"
f.index("o")

ValueError: substring not found

In [8]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus","ddd")

The youngest child is Linus

In [7]:
def m(**n):
    print(n["name"],n["age"],n["w"])
    
    
m(name="mff",age=11,w="eng")

mff 11 eng

In [10]:
def fruits(food):
    for x in food:
        print(x,end=" ")
        
        
frt=["dd","ddf","gg"]
fruits(frt)

dd ddf gg

In [1]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [2]:
class Simple:
    def __init__(c,a,b):
        c.a=a
        c.b=b
        
s=Simple("megha",11)

print(s.a)
print(s.b)

megha
11

In [3]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [4]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [10]:
my=["ls","sd","ff"]
myit=iter(my)
print(next(myit),end=" ")
print(next(myit),end=" ")
print(next(myit))

ls sd ff

In [16]:
x = 300

def myfunc():
    global x
    x= 200
    print("First",x)

myfunc()

print("Second",x)

First 200
Second 200

In [17]:
x = 300

def myfunc():
   
    x= 200
    print("First",x)

myfunc()

print("Second",x)

First 200
Second 300

In [20]:
import re

str = "the rain in Spain"

#Find all lower case characters alphabetically between "a" and "m":

x = re.findall("[a-z]", str)
print(x)

['t', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 'p', 'a', 'i', 'n']

In [21]:
import re

str = "That will be 59 dollars"

#Find all digit characters:

x = re.findall("\d", str)
print(x)

['5', '9']

In [23]:
import re

str = "The rain in Spain falls mainly in the plain!"

#Check if the string contains "ai" followed by 0 or more "x" characters:

x = re.findall("aix*", str)

print(x)

if (x):
  print("Yes, there is atleast one match!")
else:
  print("No match")

['ai', 'ai', 'ai', 'ai']
Yes, there is atleast one match!

In [3]:
calories = {'apple': 52,'banana': 89, 'choco': 546} 

c = calories 
print(c['apple'] < c['choco']) # True 
c['cappu'] = 74
print(c['banana'] < c['cappu']) # False 
print('apple'in c.keys()) # True print
(52 in c.values()) # True

True
False
True

True

In [10]:
fruits={'apple':123,
       'orange':145,
       'grapes':345,
       'kiwi':23}
print('apple' in fruits.keys())
print(145 in fruits.values())
print(267 in fruits.values())
print("dragon" in fruits.keys())

True
True
False
False

In [4]:
list(enumerate(["aa","dd","rr","hh"]))

[(0, 'aa'), (1, 'dd'), (2, 'rr'), (3, 'hh')]

In [5]:
x='meg' 'ha'
x

'megha'

In [3]:
def ask(prompt, retries=4, output='Error'): 
    for _ in range(retries): 
        response = input(prompt).lower() 
        if response in ['y', 'yes']: 
            return True 
        if response in ['n', 'no']: 
            return False 
        print(output)
        
        
print(ask('Want to know the answer?',6))

Want to know the answer?yes
True

In [1]:
def ask(prompt):
    for i in range(4):
        response=input(prompt).lower()
        if response in ['y','yes']:
            return True
        if response in ['n','no']:
            return False
        print("error")
        
        
print(ask('want to know the answer'))

want to know the answeryes
True

In [ ]:
x='u'
x

In [ ]:
print(x)

In [4]:
s="meghanaik"
s[1:]

'eghanaik'

In [5]:
s="meghanaik"
s[1:-1]

'eghanai'

In [7]:
print(range(5, 10)[-1]) 
print(range(0, 10, 3)[2]) 
print(range(-10, -100, -30)[1])

9
6
-40

In [15]:
print(range(6, 10)[-2])

8

In [17]:
print(range(0, 10, 3)[3])

9

In [19]:
print(range(-10, -100, -30)[2])

-70

In [20]:
for i in range(-10,-100,-30):
    print(i)

-10
-40
-70

In [30]:
def maximum_profit(prices): 
    profit = 0 
    for i, buy_price in enumerate(prices): 
        sell_price = max(prices[i:])
        profit = max(profit, sell_price-buy_price)
        print(sell_price,buy_price,profit)
    return profit


# Ethereum daily prices in Dec 2017 ($) 
eth_prices = [455, 460, 465, 451, 414, 415, 441] 
print(maximum_profit(prices=eth_prices))

465 455 10
465 460 10
465 465 10
451 451 10
441 414 27
441 415 27
441 441 27
27

In [31]:
eth_prices = [455, 460, 465, 451, 414, 415, 441] 
for i in range(5,0,-1):
    print(i)

5
4
3
2
1